.poster {
  width: 100%;
  transition: all linear 1s;
  transform: translate();
}

.poster img {
  width: 100%;
  height: 30vh;
}

@media screen and (max-width: 1000px) {
  .poster img {
    width: 100%;
    height: 20vh;
  }
}
