.product {
  width: 250px;
  /* height: 600px; */
  background-color: rgb(255, 251, 231);
  box-shadow: 0 0 10px rgb(102, 102, 102);
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  margin: 20px;
  border-radius: 0.3rem;
}

.image img {
  width: 95%;
  transition: all linear 0.2s;
}

.image img:hover {
  width: 100%;
}

.image {
  /* background-color: rgb(214, 214, 214); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-weight: bold;
  margin: 0;
}

.data2 {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  text-align: center;
}

.btn button {
  background-color: var(--color-y);
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 1rem;
}

@media screen and (max-width: 1000px) {
  .product {
    width: 150px;
    box-shadow: 0 0 5px rgb(102, 102, 102);
    padding: 5px;
    margin: 5px;
  }

  .title {
    font-size: 14px;
  }
  .data2 {
    font-size: 13px;
  }
  .btn button {
    font-size: 15px;
  }
}
